# Mac Finder file
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Built code
lib
tsconfig.tsbuildinfo
dist

# Dependency directories
node_modules/

# Yarn Integrity file
.yarn-integrity